.searchform{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 39px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
}

.searchform-inp{
    display: flex;
    margin-top: 80px;
    margin-bottom: 31px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.searchform-inp__input{
    width: 1060px;
    height: 48px;
    background: #F9F9F9;
    border-radius: 4px;
    border: none;
}

.searchform-inp__button{
    width: 70px;
    height: 44px;
    background-color: #000;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
}

input[type="checkbox"].ios8-switch {
    position: absolute;
    margin: 8px 0 0 16px;    
}
input[type="checkbox"].ios8-switch + label {
    position: relative;
    padding: 0 0 0 50px;
    line-height: 2.0em;
}
input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 36px; /* x*5 */
    height: 20px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 20px; /* x*3 */
    height: 20px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 16px;
}
input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55D069;
}

@media screen and (max-width: 767px) {
    .searchform-inp__input{
        max-width: 628px;
    }
    .searchform{
        max-width: 708px;
    }
}
@media screen and (max-width: 319px) {
    .searchform-inp__input{
        max-width: 212px;
        height: 44px;
    }
    .searchform{
        max-width: 292px;
        padding-bottom: 44px;
    }
    .searchform-inp{
        margin-bottom: 40px;
    }
}
  
